.custom-ol,
ol:not([class]) {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  list-style: none;
  counter-reset: ol-list;

  li {
    position: relative;
    padding-left: rem(35);

    &::before {
      counter-increment: ol-list;
      content: counter(ol-list, decimal-leading-zero);
      position: absolute;
      left: rem(10);
      width: 2ch;
      font-size: 0.8em;
      font-weight: 600;
      top: 0.35em;
      // font-family: 'Roboto Mono', monospace;
      font-family: 'Roboto Mono', Consolas, monaco, monospace;
      color: $accent-color-2;
      text-align: right;
      box-sizing: border-box;
    }
  }
}
