.event {

}

.event__headline {
  position: relative;
  margin-top: 0;
  padding-top: rem($grid-gutter-width * 3);
  padding-bottom: rem($grid-gutter-width * 3);
  color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    background-color: $accent-color;
  }

  h1 {
    text-align: center;
  }
}

.page__headline-content {
  position: relative;
}

.event__image-holder {
  margin-bottom: rem($grid-gutter-width * 2);
}

.event__text {

}

.event__meta {
  margin-top: auto;
  margin-bottom: rem($grid-gutter-width);
  font-size: $font-size--small;
  text-align: center;
}

.event__date {
  display: inline-block;
  padding: rem(6) rem(16);
  vertical-align: middle;
  color: $base-color;
  background-color: $light-color;
  border-radius: 50px;
}
