.feature-popup {
  text-align: center;
  padding: $grid-gutter-width;

  @include media-breakpoint-up(md) {
    padding: ($grid-gutter-width * 3);
  }
}

.feature-popup__title {

}

.feature-popup__icon {

}

.feature-popup__description {

  & > :last-child {
    margin-bottom: 0;
  }

  ul {
    text-align: left;
  }
}
