.wpcf7-form-control-wrap.userGender {

  .wpcf7-form-control {
    display: flex;
  }

  .wpcf7-list-item {
    margin-right: $grid-gutter-width;

    &:last-child {
      margin-right: 0;
    }
  }

  input {
    @include visuallyhidden();
  }

  .wpcf7-list-item-label {
    display: block;
    width: 48px;
    height: 48px;
    font-size: 0;
    border: 4px solid transparent;
    border-radius: 50%;
    background-color: $secondary-color;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: $duration;
  }

  [value="man"] + .wpcf7-list-item-label {
    background-image: url("images/man.svg");
  }

  [value="woman"] + .wpcf7-list-item-label {
    background-image: url("images/woman.svg");
  }

  input:checked + .wpcf7-list-item-label {
    border-color: $primary-color;
  }

  input:not(:checked):hover + .wpcf7-list-item-label {
    filter: brightness(105%);
  }

  input:focus + .wpcf7-list-item-label {
    filter: drop-shadow(0 0 2px rgba($dark-color, 0.5));
  }
}
