.logo {

}

.logo__link {
  display: flex;
  align-items: center;
  color: $primary-color-2;

  &:hover,
  &:focus {
    color: $primary-color-2;
  }
}

.homepage .logo__link {
  color: $base-color;

  &:hover,
  &:focus {
    color: $base-color;
  }
}

.logo__image {
  margin-right: 12px;
}

.logo__text {
  line-height: 1;
}

.logo__name {
  display: block;
  font-size: rem($font-size--large);
  font-family: $secondary-font;
  color: $white-color;
}

.homepage .logo__name {
  color: $accent-color;
}

.logo__desc {
  display: block;
}

