.main-nav{
  display: flex;
  align-items: center;
}

.main-nav__list {
  @include clear-list();

  @include media-breakpoint-down(md) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: $light-color;
    max-height: 90vh;

    .main-nav--closed & {
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.main-nav__item {

  @include media-breakpoint-up(lg) {
    display: flex;
    align-items: center;
    justify-content: center;

  }
}

.main-nav__item--booking {
  transform: scale(0);
  opacity: 0;
  transition: ($duration * 2);

  @include media-breakpoint-down(md) {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.is-sticky .main-nav__item--booking {
  transform: scale(1);
  opacity: 1;
}

.main-nav__link {
  display: block;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  font-weight: 500;
  font-size: rem(17);
  color: $accent-color;
  border-bottom: none;
  transition: $duration;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $secondary-color-2;
  }

  &--start {
    font-size: 0;
  }

  @include media-breakpoint-down(md) {
    font-size: rem($font-size);
  }

  @include media-breakpoint-up(lg) {
  }

  @include media-breakpoint-up(xl) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.is-active .main-nav__link {
  color: $accent-color-2;
}

.main-nav__link-booking {
  @include createButton();
  @include createButtonColorsGreen();

  padding: rem(3) rem(10);
  font-size: rem(17);
  text-transform: none;

  @include media-breakpoint-down(md) {
    display: block;
    padding: rem(5) rem (16);
    border-radius: 0;
  }
}

.main-nav__icon {
  fill: currentColor;
  vertical-align: -3px;
}

.main-nav__toggle {
  height: 23px;
  box-sizing: content-box;
  outline: none;
  color: $base-color;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}
