.page {

  &--bg-light {
    background-color: $light-color;
  }
}

.page__headline {
  margin-top: ($grid-gutter-width * 3);
  margin-bottom: ($grid-gutter-width * 3);

  h1 {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: rem(40);
    font-family: $secondary-font;
  }
}

.page__intro {
  margin-top: $grid-gutter-width;
  font-size: rem(20);

  & > :last-child {
    margin-bottom: 0;
  }
}

.page__content {

}

.page__content-incut {

}

.page__content-divider {
  margin-top: $grid-gutter-width;
  margin-bottom: $grid-gutter-width;
  border-top: 1px solid $secondary-color;
}

.page__text {
  // font-size: rem(14);

  & > * + * {
    margin-top: 1.5rem;
    // margin-bottom: 0;
  }

  & > * + h2 {
    margin-top: 2.4rem;
  }

  & > * + h3 {
    margin-top: 2rem;
  }

  & > h2 + * {
    margin-top: 0.6rem;
  }

  & > h3 + * {
    margin-top: 0.6rem;
  }

  & > h2 + h3 {
    margin-top: 1rem;
  }

  & > h2 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: rem(24);
  }

  & > h3 {
    margin-bottom: 0;
    font-weight: 600;
    font-size: rem(21);
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @include media-breakpoint-up(md) {
    .alignleft {
      float: left;
      margin-right: $grid-gutter-width;
    }

    .alignright {
      float: right;
      margin-left: $grid-gutter-width;
    }
  }
}
