.team {
}

.team__wrap-link {
  display: block;
  margin: 20px;

  &:hover {
    background-color: #8df;
    box-shadow: 0 0 10px rgba(#000, 0.6);
  }
}

.team__photo-wrapper {

}

.team__photo {

}

.team__fullname {

}

.team__name {
  display: block;
}

.team__post {

}
