.site-footer {
  background-color: $accent-color-3;
  color: $secondary-color;
}

.site-footer__inner {
  @include make-limit-width();

  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-up(md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.site-footer__row {
  &--primary {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }

  &--secondary {
    padding-top: ($grid-gutter-width / 2);
    padding-bottom: ($grid-gutter-width / 2);
    color: $primary-color;
    background-color: #1c3879;
    font-size: $font-size--small;
  }
}

.site-footer__column {
  margin-bottom: $grid-gutter-width;

  &:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
    margin-right: ($grid-gutter-width / 1);

    &:last-child {
      margin-right: 0;
    }

    &--socials {
      margin-left: auto;
    }
  }
}

.site-footer__copy {
  text-align: center;

  p {
    margin-bottom: 0;
  }
}

.site-footer__developer {
  margin-bottom: 0;

  span {
    display: inline-block;
    color: $danger-color;
    animation: heartbeat 2.2s infinite;
  }

  a {
    color: $white-color;
  }
}

@keyframes heartbeat {
  0%, 40%, 80%, 100% {
    transform: scale(.8);
  }
  20%, 60% {
    transform: scale(1);
  }
}

