.wpcf7-form-control-wrap.userRating {

  .wpcf7-form-control {
    display: flex;
  }

  .wpcf7-list-item {
    margin: 0;
  }

  input {
    @include visuallyhidden();
  }

  .wpcf7-list-item-label {
    display: inline-block;
    vertical-align: middle;
    width: 38px;
    height: 38px;
    background-image: url("images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 0;
    cursor: pointer;
    transition: $duration;
  }

  input:hover + .wpcf7-list-item-label {
    opacity: 0.6;
    background-image: url("images/star--active.svg");
  }

  input:focus + .wpcf7-list-item-label {
    filter: drop-shadow(0 0 2px rgba($dark-color, 0.5));
  }

  input:checked + .wpcf7-list-item-label {
    opacity: 1;
    background-image: url("images/star--active.svg");
  }
}
