.tabs {

}

.tabs__menu {
  @include clear-list();
  @include make-container();

  display: flex;
  justify-content: space-around;
  margin-bottom: ($grid-gutter-width / 2);

  @include media-breakpoint-up(sm) {
    justify-content: center;
  }
}

.tabs__menu-item {
  text-align: center;
  flex-grow: 1;

  @include media-breakpoint-up(sm) {
    margin-right: ($grid-gutter-width / 2);

    &:last-child {
      margin-right: 0;
    }
  }

  @include media-breakpoint-up(md) {
    margin-right: ($grid-gutter-width / 1);
    flex-grow: 0;
  }
}

.tabs__menu-link {
  @include createButton();
  @include createButtonColors();
  @include createButtonSmall();

  @include media-breakpoint-down(xs) {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    font-size: rem(12);
    border-radius: 0;
  }

  @include media-breakpoint-down(md) {
    min-width: 0;
  }
}

.active .tabs__menu-link {
  background-color: $white-color;
  border-color: $secondary-color;
}

.tabs__pane {
  padding-top: ($grid-gutter-width / 1);
}
